

<div class="container-fluid" style="margin-top: 10px;">
  <div class="row" >
    <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="margin-top: 56px;">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home" >
              <span data-feather="home"></span>
              Anasayfa <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" > 
              <a class="nav-link active " routerLink="/product" >
                  Tüm Ürünler
              </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link active " routerLink="/kayit" >
                Kayıt
            </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link active " >
              BBBBB
          </a>
      </li>
          
         
        </ul>

       
      </div>